<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="../css/course_styles.css">
>
</head>
<body>
    <div class="main_content">
        {{>header}}
        <p class="green">{{message}}</p>
    </div>
    {{>footer}}
</body>
</html>