<!DOCTYPE html>
<html>
<head>
  <title>Help</title>
  <link rel="icon" href="/images/weather.png">
  <link rel="stylesheet" href="./css/course_styles.css">
</head>
<body>
  <div class="main_content">
      {{>header}}
      <p class="green">{{inspirational}}</p>
  </div>
  {{>footer}}

</body>
</html>
